@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using TestEFC.ModelView
@model CreateItem
@{
}
<div>
<form asp-controller="home" asp-action="CreateItem" method="post"enctype="multipart/form-data">
    <label asp-for=Name></label>
    <input type="text" asp-for=Name />
    <label asp-for=Price></label>
    <input type="number" step=".01" max="99999.99" />
    <label asp-for=Desription></label>
    <input type="text"  asp-for=Desription />
    <label>Upload image</label>
    <input type="file" asp-for="FormFile" />
    <input type="submit" />
    
</form>    

</div>
