@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using TestEFC.ModelView
@model CreateUser
<div>
    <form asp-controller="Home" asp-action="Create" method="post">
        <label asp-for=Name>Enter your first name</label>
        <input type="text" asp-for="Name" />
        <label asp-for=SecondName>enmeter your second name</label>
        <input type="text" asp-for="SecondName" />

        <label asp-for="Email">Enter your email</label>
        <input type="email" asp-for="Email" />
        <label asp-for=PassFirst></label>
        <input type="password" asp-for="PassFirst" />
        <label asp-for=PassConfirm></label>
        <input type="password" asp-for="PassConfirm" />
      @*  <input type="number" asp-for="SalaryUser" />*@
    @*    @Html.AntiForgeryToken();*@
        <input type="submit" />
    </form>
</div>

